<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>无标题文档</title>
  <link href="css/common.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="wrap">
  <!-- main begin-->
  <div class="sale">
    <h1 class="lf">拍卖结束的商品</h1>
    <div class="right rulse">
      当前用户是：
      <span class="blue strong">
        <a href="#" title="张三" th:text="${session.user.username}"></a>
      </span></div>
    <div class="cl"></div>
  </div>
  <div class="items">
    <ul class="rows even strong">
      <li>名称</li>
      <li>开始时间</li>
      <li>结束时间</li>
      <li>起拍价</li>
      <li class="list-wd">成交价</li>
      <li class="borderno">买家</li>
    </ul>
    <ul th:each="auction, state:${endList}" th:class="${state.odd?'rows':'rows even'}">
      <li th:text="${auction.auctionname}"></li>
      <li th:text="${#dates.format(auction.auctionstarttime,'yyyy-MM-dd HH:mm:ss')}"></li>
      <li th:text="${#dates.format(auction.auctionendtime,'yyyy-MM-dd HH:mm:ss')}"></li>
      <li th:text="${auction.auctionstartprice}"></li>
      <li th:text="${auction.auctionPrice}" class="list-wd"></li>
      <li th:text="${auction.userName}" class="borderno red"></li>
    </ul>

  </div>
  <h1>拍卖中的商品</h1>
  <div class="items records">
    <ul class="rows even strong rowh">
      <li>名称</li>
      <li>开始时间</li>
      <li>结束时间</li>
      <li>起拍价</li>
      <li class="borderno record">出价记录</li>
      <div class="cl"></div>
    </ul>
    <ul th:each="auctionDetail, state:${nowList}" th:class="${state.odd?'rows':'rows even'}">
      <li th:text="${auctionDetail.auctionname}"></li>
      <li th:text="${#dates.format(auctionDetail.auctionstarttime,'yyyy-MM-dd HH:mm:ss')}"></li>
      <li th:text="${#dates.format(auctionDetail.auctionendtime,'yyyy-MM-dd HH:mm:ss')}"></li>
      <li th:text="${auctionDetail.auctionstartprice}"></li>
      <li th:each="record:${auctionDetail.auctionrecordList}" class="borderno blue record">
        <p th:text="${record.user.username}"></p>
        ￥<span th:text="${record.auctionprice}"></span>
      </li>
      <div class="cl"></div>
    </ul>
  </div>
  <!-- main end-->
</div>
</body>

</html>